srv/external/ZMASSESREQUEST_IN.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions">
	<wsdl:documentation>
		<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
	</wsdl:documentation>
	<wsp:UsingPolicy wsdl:required="true"/>
	<wsp:Policy wsu:Id="BN__ZMASSESREQUEST_IN">
		<wsp:ExactlyOne>
			<wsp:All>
				<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">true</sapattahnd:Enabled>
				<saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
				<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication/>
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15/>
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict/>
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
			<wsp:All>
				<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">true</sapattahnd:Enabled>
				<saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
				<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication/>
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15/>
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict/>
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="BN__ZMASSESREQUEST_IN_soap12">
		<wsp:ExactlyOne>
			<wsp:All>
				<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">true</sapattahnd:Enabled>
				<saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
				<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication/>
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15/>
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict/>
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
			<wsp:All>
				<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">true</sapattahnd:Enabled>
				<saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
				<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication/>
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15/>
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict/>
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="IF__ZMASSESREQUEST_IN">
		<wsp:ExactlyOne>
			<wsp:All>
				<sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
					<sapsession:enableSession>false</sapsession:enableSession>
				</sapsession:Session>
				<sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
					<sapcentraladmin:BusinessApplicationID>0050568581601ED995FD7909E783C21C</sapcentraladmin:BusinessApplicationID>
				</sapcentraladmin:CentralAdministration>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="OP__ZMMPUR_MASS_SES_SOAP_SRVC">
		<wsp:ExactlyOne>
			<wsp:All>
				<saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
				<sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
				<sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
				<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
			<xsd:simpleType name="char1">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char10">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char12">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="12"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char128">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="128"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char2">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char20">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="20"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char220">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="220"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char255">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="255"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char3">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char30">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char32">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="32"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char40">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char5">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="5"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char50">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char60">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="60"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char9">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="9"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="decimal16.3">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="16"/>
					<xsd:fractionDigits value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="decimal28.6">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="28"/>
					<xsd:fractionDigits value="6"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="numeric3">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="3"/>
					<xsd:pattern value="\d*"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="numeric6">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="6"/>
					<xsd:pattern value="\d*"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:complexType name="ZMMPUR_SES_MASS_REQ_MSG">
				<xsd:sequence>
					<xsd:element name="SENDER_BUSINESS_SYSTEM_ID" type="tns:char60"/>
					<xsd:element name="RECIPIENT_BUSINESS_SYSTEM_ID" type="tns:char60"/>
					<xsd:element name="APPROVAL_STATUS" type="tns:char2"/>
					<xsd:element name="SERVICE_ENTRY_SHEET_NAME" type="tns:char40"/>
					<xsd:element name="PURCHASE_ORDER" type="tns:char10"/>
					<xsd:element name="POSTING_DATE" type="tns:string"/>
					<xsd:element name="PURCHASE_ORDER_ITEM" type="tns:char5"/>
					<xsd:element name="SERVICE_ENTRY_SHEET_ITEM_DESC" type="tns:char40"/>
					<xsd:element name="SERVICE_PERFORMANCE_DATE" type="tns:string"/>
					<xsd:element name="SERVICE_PERFORMANCE_END_DATE" type="tns:string"/>
					<xsd:element name="PURCHASE_CONTRACT_ITEM" type="tns:char5"/>
					<xsd:element name="CONFIRMED_QUANTITY" type="tns:ZCONFIRMED_QUANTITY"/>
					<xsd:element name="NET_PRICE_AMOUNT" type="tns:ZNET_AMOUNT"/>
					<xsd:element name="SERVICE_PERFORMER" type="tns:char10"/>
					<xsd:element name="SRVC_ENTR_SHT_ITEM_IS_FINAL" type="tns:char5"/>
					<xsd:element name="TEXT" type="tns:ZSRVC_ENTR_SHT_TXT_COLL"/>
					<xsd:element name="ATTACHMENT" type="tns:ZATTACHMENT"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZSRVC_ENTR_SHT_TXT_COLL">
				<xsd:sequence>
					<xsd:element name="NOTE_TYPE_CODE" type="tns:char20"/>
					<xsd:element name="LANGUAGE_CODE" type="tns:char9"/>
					<xsd:element name="CONTENT" type="tns:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZATTACHMENT">
				<xsd:sequence>
					<xsd:element name="FILE_NAME" type="tns:char255"/>
					<xsd:element name="MIME_TYPE" type="tns:char128"/>
					<xsd:element name="FILE_SIZE" type="tns:char12"/>
					<xsd:element name="CONTENT" type="xsd:base64Binary"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZCONFIRMED_QUANTITY">
				<xsd:sequence>
					<xsd:element name="UNIT_CODE" type="tns:char3"/>
					<xsd:element name="CONTENT" type="tns:decimal16.3"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZNET_AMOUNT">
				<xsd:sequence>
					<xsd:element name="CURRENCY_CODE" type="tns:char3"/>
					<xsd:element name="CONTENT" type="tns:decimal28.6"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZSES_RETURN">
				<xsd:sequence>
					<xsd:element name="PURCHASE_ORDER" type="tns:char10"/>
					<xsd:element name="MESSAGE" type="tns:BAPIRETTAB"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BAPIRET2">
				<xsd:sequence>
					<xsd:element name="TYPE" type="tns:char1"/>
					<xsd:element name="ID" type="tns:char20"/>
					<xsd:element name="NUMBER" type="tns:numeric3"/>
					<xsd:element name="MESSAGE" type="tns:char220"/>
					<xsd:element name="LOG_NO" type="tns:char20"/>
					<xsd:element name="LOG_MSG_NO" type="tns:numeric6"/>
					<xsd:element name="MESSAGE_V1" type="tns:char50"/>
					<xsd:element name="MESSAGE_V2" type="tns:char50"/>
					<xsd:element name="MESSAGE_V3" type="tns:char50"/>
					<xsd:element name="MESSAGE_V4" type="tns:char50"/>
					<xsd:element name="PARAMETER" type="tns:char32"/>
					<xsd:element name="ROW" type="xsd:int"/>
					<xsd:element name="FIELD" type="tns:char30"/>
					<xsd:element name="SYSTEM" type="tns:char10"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZMMPUR_SES_MASS_REQ_MSG_TAB">
				<xsd:sequence>
					<xsd:element name="item" type="tns:ZMMPUR_SES_MASS_REQ_MSG" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZSES_RETURN_TAB">
				<xsd:sequence>
					<xsd:element name="item" type="tns:ZSES_RETURN" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BAPIRETTAB">
				<xsd:sequence>
					<xsd:element name="item" type="tns:BAPIRET2" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ZMMPUR_MASS_SES_SOAP_SRVC">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="IT_INPUT" type="tns:ZMMPUR_SES_MASS_REQ_MSG_TAB" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ZMMPUR_MASS_SES_SOAP_SRVCResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ET_RETURN" type="tns:ZSES_RETURN_TAB"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ZMMPUR_MASS_SES_SOAP_SRVC">
		<wsdl:part name="parameters" element="tns:ZMMPUR_MASS_SES_SOAP_SRVC"/>
	</wsdl:message>
	<wsdl:message name="ZMMPUR_MASS_SES_SOAP_SRVCResponse">
		<wsdl:part name="parameter" element="tns:ZMMPUR_MASS_SES_SOAP_SRVCResponse"/>
	</wsdl:message>
	<wsdl:portType name="ZMASSESREQUEST_IN">
		<wsdl:documentation>
			<sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
				<sapdoc:docitem docURL="http://tdclv1000192.tdc.net.sap:50080/sap/bc/esdt/docu/sd_text?sap-client=100&amp;sd_name=ZMASSESREQUEST_IN"/>
			</sapdoc:sapdoc>
		</wsdl:documentation>
		<wsp:Policy>
			<wsp:PolicyReference URI="#IF__ZMASSESREQUEST_IN"/>
		</wsp:Policy>
		<wsdl:operation name="ZMMPUR_MASS_SES_SOAP_SRVC">
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP__ZMMPUR_MASS_SES_SOAP_SRVC"/>
			</wsp:Policy>
			<wsdl:input message="tns:ZMMPUR_MASS_SES_SOAP_SRVC"/>
			<wsdl:output message="tns:ZMMPUR_MASS_SES_SOAP_SRVCResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZMASSESREQUEST_IN" type="tns:ZMASSESREQUEST_IN">
		<wsp:Policy>
			<wsp:PolicyReference URI="#BN__ZMASSESREQUEST_IN"/>
		</wsp:Policy>
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="ZMMPUR_MASS_SES_SOAP_SRVC">
			<soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZMASSESREQUEST_IN:ZMMPUR_MASS_SES_SOAP_SRVCRequest" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ZMASSESREQUEST_IN_soap12" type="tns:ZMASSESREQUEST_IN">
		<wsp:Policy>
			<wsp:PolicyReference URI="#BN__ZMASSESREQUEST_IN_soap12"/>
		</wsp:Policy>
		<wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="ZMMPUR_MASS_SES_SOAP_SRVC">
			<wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZMASSESREQUEST_IN:ZMMPUR_MASS_SES_SOAP_SRVCRequest" style="document"/>
			<wsdl:input>
				<wsoap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsoap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZMASSESREQUEST_IN">
		<wsdl:port name="ZMASSESREQUEST_IN" binding="tns:ZMASSESREQUEST_IN">
			<soap:address location="http://tdclv1000192.tdc.net.sap:50080/sap/bc/srt/rfc/sap/zmassesrequest_in/100/zmassesrequest_in/zmassesrequest_in"/>
		</wsdl:port>
		<wsdl:port name="ZMASSESREQUEST_IN_soap12" binding="tns:ZMASSESREQUEST_IN_soap12">
			<wsoap12:address location="http://tdclv1000192.tdc.net.sap:50080/sap/bc/srt/rfc/sap/zmassesrequest_in/100/zmassesrequest_in/zmassesrequest_in"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>