srv/external/zserviceentrysheetrequest_sync_in.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="urn:sap-com:document:sap:rfc:functions"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
	<wsdl:documentation>
		<sidl:sidl
			xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
		</wsdl:documentation>
		<wsp:UsingPolicy wsdl:required="true"/>
		<wsp:Policy wsu:Id="BN__ZSERVICEENTRYSHEETREQUEST_IN">
			<wsp:ExactlyOne>
				<wsp:All>
					<sapattahnd:Enabled
						xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">true
					</sapattahnd:Enabled>
					<saptrnbnd:OptimizedMimeSerialization
						xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
						<wsaw:UsingAddressing
							xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
							<wsp:All
								xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
								<sp:TransportBinding
									xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
									xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
									xmlns:wsa="http://www.w3.org/2005/08/addressing"
									xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
									xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
									xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
									<wsp:Policy>
										<sp:TransportToken>
											<wsp:Policy>
												<sp:HttpsToken>
													<wsp:Policy>
														<sp:HttpBasicAuthentication/>
													</wsp:Policy>
												</sp:HttpsToken>
											</wsp:Policy>
										</sp:TransportToken>
										<sp:AlgorithmSuite>
											<wsp:Policy>
												<sp:Basic128Rsa15/>
											</wsp:Policy>
										</sp:AlgorithmSuite>
										<sp:Layout>
											<wsp:Policy>
												<sp:Strict/>
											</wsp:Policy>
										</sp:Layout>
									</wsp:Policy>
								</sp:TransportBinding>
							</wsp:All>
						</wsp:All>
						<wsp:All>
							<sapattahnd:Enabled
								xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">true
							</sapattahnd:Enabled>
							<saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
								xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
								<wsaw:UsingAddressing
									xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
									<wsp:All
										xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
										<sp:TransportBinding
											xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
											xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
											xmlns:wsa="http://www.w3.org/2005/08/addressing"
											xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
											xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
											xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
											<wsp:Policy>
												<sp:TransportToken>
													<wsp:Policy>
														<sp:HttpsToken>
															<wsp:Policy>
																<sp:HttpBasicAuthentication/>
															</wsp:Policy>
														</sp:HttpsToken>
													</wsp:Policy>
												</sp:TransportToken>
												<sp:AlgorithmSuite>
													<wsp:Policy>
														<sp:Basic128Rsa15/>
													</wsp:Policy>
												</sp:AlgorithmSuite>
												<sp:Layout>
													<wsp:Policy>
														<sp:Strict/>
													</wsp:Policy>
												</sp:Layout>
											</wsp:Policy>
										</sp:TransportBinding>
									</wsp:All>
								</wsp:All>
							</wsp:ExactlyOne>
						</wsp:Policy>
						<wsp:Policy wsu:Id="BN__ZSERVICEENTRYSHEETREQUEST_IN_soap12">
							<wsp:ExactlyOne>
								<wsp:All>
									<sapattahnd:Enabled
										xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">true
									</sapattahnd:Enabled>
									<saptrnbnd:OptimizedMimeSerialization
										xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
										<wsaw:UsingAddressing
											xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
											<wsp:All
												xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
												<sp:TransportBinding
													xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
													xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
													xmlns:wsa="http://www.w3.org/2005/08/addressing"
													xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
													xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
													xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
													<wsp:Policy>
														<sp:TransportToken>
															<wsp:Policy>
																<sp:HttpsToken>
																	<wsp:Policy>
																		<sp:HttpBasicAuthentication/>
																	</wsp:Policy>
																</sp:HttpsToken>
															</wsp:Policy>
														</sp:TransportToken>
														<sp:AlgorithmSuite>
															<wsp:Policy>
																<sp:Basic128Rsa15/>
															</wsp:Policy>
														</sp:AlgorithmSuite>
														<sp:Layout>
															<wsp:Policy>
																<sp:Strict/>
															</wsp:Policy>
														</sp:Layout>
													</wsp:Policy>
												</sp:TransportBinding>
											</wsp:All>
										</wsp:All>
										<wsp:All>
											<sapattahnd:Enabled
												xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">true
											</sapattahnd:Enabled>
											<saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
												xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
												<wsaw:UsingAddressing
													xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
													<wsp:All
														xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
														<sp:TransportBinding
															xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
															xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
															xmlns:wsa="http://www.w3.org/2005/08/addressing"
															xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
															xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
															xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
															<wsp:Policy>
																<sp:TransportToken>
																	<wsp:Policy>
																		<sp:HttpsToken>
																			<wsp:Policy>
																				<sp:HttpBasicAuthentication/>
																			</wsp:Policy>
																		</sp:HttpsToken>
																	</wsp:Policy>
																</sp:TransportToken>
																<sp:AlgorithmSuite>
																	<wsp:Policy>
																		<sp:Basic128Rsa15/>
																	</wsp:Policy>
																</sp:AlgorithmSuite>
																<sp:Layout>
																	<wsp:Policy>
																		<sp:Strict/>
																	</wsp:Policy>
																</sp:Layout>
															</wsp:Policy>
														</sp:TransportBinding>
													</wsp:All>
												</wsp:All>
											</wsp:ExactlyOne>
										</wsp:Policy>
										<wsp:Policy wsu:Id="IF__ZSERVICEENTRYSHEETREQUEST_IN">
											<wsp:ExactlyOne>
												<wsp:All>
													<sapsession:Session
														xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
														<sapsession:enableSession>false</sapsession:enableSession>
													</sapsession:Session>
													<sapcentraladmin:CentralAdministration
														xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
														<sapcentraladmin:BusinessApplicationID>0050568581601ED995FD7909E783C21C</sapcentraladmin:BusinessApplicationID>
													</sapcentraladmin:CentralAdministration>
												</wsp:All>
											</wsp:ExactlyOne>
										</wsp:Policy>
										<wsp:Policy wsu:Id="OP__ZMMPUR_SES_SOAP_SRVC_S4_SYNC">
											<wsp:ExactlyOne>
												<wsp:All>
													<saptrhnw05:required
														xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no
													</saptrhnw05:required>
													<sapcomhnd:enableCommit
														xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false
													</sapcomhnd:enableCommit>
													<sapblock:enableBlocking
														xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true
													</sapblock:enableBlocking>
													<saprmnw05:enableWSRM
														xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false
													</saprmnw05:enableWSRM>
												</wsp:All>
											</wsp:ExactlyOne>
										</wsp:Policy>
										<wsdl:types>
											<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
												<xsd:simpleType name="char1">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char10">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="10"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char12">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="12"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char128">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="128"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char13">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="13"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char14">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="14"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char15">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="15"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char16">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="16"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char2">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="2"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char20">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="20"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char220">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="220"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char24">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="24"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char255">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="255"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char3">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char30">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="30"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char32">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="32"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char35">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="35"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char36">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="36"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char4">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="4"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char40">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="40"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char5">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="5"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char50">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="50"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char6">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="6"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char60">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="60"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char8">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="8"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char80">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="80"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="char9">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="9"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="decimal16.3">
													<xsd:restriction base="xsd:decimal">
														<xsd:totalDigits value="16"/>
														<xsd:fractionDigits value="3"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="decimal28.6">
													<xsd:restriction base="xsd:decimal">
														<xsd:totalDigits value="28"/>
														<xsd:fractionDigits value="6"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="decimal31.14">
													<xsd:restriction base="xsd:decimal">
														<xsd:totalDigits value="31"/>
														<xsd:fractionDigits value="14"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="decimal4.1">
													<xsd:restriction base="xsd:decimal">
														<xsd:totalDigits value="4"/>
														<xsd:fractionDigits value="1"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="numeric3">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="3"/>
														<xsd:pattern value="\d*"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="numeric6">
													<xsd:restriction base="xsd:string">
														<xsd:maxLength value="6"/>
														<xsd:pattern value="\d*"/>
													</xsd:restriction>
												</xsd:simpleType>
												<xsd:simpleType name="string">
													<xsd:restriction base="xsd:string"/>
												</xsd:simpleType>
												<xsd:simpleType name="xsdboolean">
													<xsd:restriction base="xsd:boolean"/>
												</xsd:simpleType>
												<xsd:complexType name="MMPUR_SES_REQUEST_MSG">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="SERVICE_ENTRY_SHEET_REQUEST_MS" type="tns:MMPUR_SES_REQ_MSG"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="PRXCTRL">
													<xsd:sequence>
														<xsd:element name="FIELD" type="tns:char30"/>
														<xsd:element name="VALUE" type="tns:char1"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="MMPUR_SES_REQ_MSG">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="MESSAGE_HEADER" type="tns:SAPPLCO_BUS_DOC_MESSAGE_HEADER"/>
														<xsd:element name="SERVICE_ENTRY_SHEET_ENTITY" type="tns:MMPUR_SRVC_ENTR_SHT_ENTITY"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="MMPUR_SRVC_ENTR_SHT_ENTITY">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="ACTION_CODE" type="tns:char2"/>
														<xsd:element name="APPROVAL_STATUS" type="tns:char2"/>
														<xsd:element name="DELETE_IN_APPROVAL" type="tns:xsdboolean"/>
														<xsd:element name="SERVICE_ENTRY_SHEET" type="tns:char10"/>
														<xsd:element name="SERVICE_ENTRY_SHEET_NAME" type="tns:char40"/>
														<xsd:element name="PURCHASE_ORDER" type="tns:char10"/>
														<xsd:element name="RESPONSIBLE_PERSON" type="tns:char8"/>
														<xsd:element name="POSTING_DATE" type="tns:string"/>
														<xsd:element name="TEXT_COLLECTION" type="tns:MMPUR_SRVC_ENTR_SHT_TXT_COLL"/>
														<xsd:element name="SERVICE_ENTRY_SHEET_ITEM_LIST" type="tns:MMPUR_SRVC_ENTR_SHT_ITEM_LIST"/>
														<xsd:element name="ATTACHMENT" type="tns:MMPUR_ATTACHMENT1_TAB"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="MMPUR_ATTACHMENT1">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="FILE_NAME" type="tns:char255"/>
														<xsd:element name="MIME_TYPE" type="tns:char128"/>
														<xsd:element name="FILE_SIZE" type="tns:char12"/>
														<xsd:element name="CONTENT" type="xsd:base64Binary"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="MMPUR_SRVC_ENTR_SHT_TXT_COLL">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="TEXT" type="tns:MMPUR_SRVC_ENTR_SHT_TXT_CO_TAB"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="MMPUR_SRVC_ENTR_SHT_TXT_COLL_T">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="ACTION_CODE" type="tns:char2"/>
														<xsd:element name="NOTE_TYPE_CODE" type="tns:char20"/>
														<xsd:element name="CONTENT_TEXT" type="tns:SAPPLCO_TEXT"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_TEXT">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="LANGUAGE_CODE" type="tns:char9"/>
														<xsd:element name="CONTENT" type="tns:string"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="MMPUR_SRVC_ENTR_SHT_ITEM_LIST">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="SERVICE_ENTRY_SHEET_ITEM_ENTIT" type="tns:MMPUR_SES_ITEMENTITY"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="MMPUR_SRVC_ENTR_SHT_ITEM_ENTIT">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="ACTION_CODE" type="tns:char2"/>
														<xsd:element name="ACCOUNT_ASSIGNMENT_CATEGORY" type="tns:char1"/>
														<xsd:element name="CONFIRMED_QUANTITY" type="tns:MMPUR_CONFIRMED_QUANTITY_GFN"/>
														<xsd:element name="MULTIPLE_ACCT_ASSGMT_DISTRIBUT" type="tns:char1"/>
														<xsd:element name="NET_PRICE_AMOUNT" type="tns:SAPPLCO_AMOUNT"/>
														<xsd:element name="PURCHASE_ORDER_ITEM" type="tns:char5"/>
														<xsd:element name="QUANITITY_UNIT" type="tns:char3"/>
														<xsd:element name="SERVICE" type="tns:char40"/>
														<xsd:element name="SERVICE_ENTRY_SHEET_ITEM" type="tns:char5"/>
														<xsd:element name="SERVICE_ENTRY_SHEET_ITEM_REFER" type="tns:SAPPLCO_BUS_TRANS_DOCUMENT_ID"/>
														<xsd:element name="SERVICE_ENTRY_SHEET_ITEM_DESC" type="tns:char40"/>
														<xsd:element name="SERVICE_PERFORMANCE_DATE" type="tns:string"/>
														<xsd:element name="SERVICE_PERFORMANCE_END_DATE" type="tns:string"/>
														<xsd:element name="SERVICE_PERFORMER" type="tns:char10"/>
														<xsd:element name="WORK_ITEM" type="tns:char10"/>
														<xsd:element name="PURCHASE_CONTRACT_ITEM" type="tns:char5"/>
														<xsd:element name="SRVC_ENTR_SHT_ITEM_IS_FINAL" type="tns:char5"/>
														<xsd:element name="SERVICE_ENTRY_SHT_ACCT_ASSGMT" type="tns:MMPUR_SES_ACCTASSGMT_LIST"/>
														<xsd:element name="ATTACHMENT" type="tns:MMPUR_ATTACHMENT1_TAB"/>
														<xsd:element name="TEXT_COLLECTION" type="tns:MMPUR_SRVC_ENTR_SHT_ITEM_TXT_1"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="MMPUR_SES_ACCTASSGMT_LIST">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="SERVICE_ENTRY_SHEET_ACCT_ASSGM" type="tns:MMPUR_SES_ACCT_ASSGMT_ENTITY"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="MMPUR_SES_ACCTASSGMT_ENTITY">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="ACTION_CODE" type="tns:char2"/>
														<xsd:element name="ACCOUNT_ASSIGNMENT" type="tns:char2"/>
														<xsd:element name="BUSINESS_AREA" type="tns:char4"/>
														<xsd:element name="COMMITMENT_ITEM" type="tns:char14"/>
														<xsd:element name="CONTROLLING_AREA" type="tns:char4"/>
														<xsd:element name="COST_CENTER" type="tns:char10"/>
														<xsd:element name="COST_OBJECT" type="tns:char12"/>
														<xsd:element name="EARMARKED_FUNDS_DOCUMENT" type="tns:char10"/>
														<xsd:element name="FIXED_ASSET" type="tns:SAPPLCO_FIXED_ASSET_ID"/>
														<xsd:element name="FUND" type="tns:char10"/>
														<xsd:element name="FUNDS_CENTER" type="tns:char16"/>
														<xsd:element name="GLACCOUNT" type="tns:char10"/>
														<xsd:element name="MASTER_FIXED_ASSET" type="tns:SAPPLCO_MASTER_FIXEDASSETID"/>
														<xsd:element name="MULTIPLE_ACCT_ASSGMT_DISTR_PER" type="tns:decimal4.1"/>
														<xsd:element name="NET_AMOUNT" type="tns:SAPPLCO_AMOUNT"/>
														<xsd:element name="NETWORK_ACTIVITY" type="tns:char4"/>
														<xsd:element name="NETWORK_ACTIVITY_INTERNAL_ID" type="tns:char8"/>
														<xsd:element name="ORDER_ID" type="tns:char12"/>
														<xsd:element name="PROFITABILITY_SEGMENT" type="tns:char10"/>
														<xsd:element name="PROFIT_CENTER" type="tns:char10"/>
														<xsd:element name="PROJECT_NETWORK" type="tns:char12"/>
														<xsd:element name="PROJECT_NETWORK_INTERNAL_ID" type="tns:char10"/>
														<xsd:element name="QUANTITY" type="tns:SAPPLCO_QUANTITY"/>
														<xsd:element name="REAL_ESTATE_OBJECT" type="tns:char8"/>
														<xsd:element name="SALES_ORDER" type="tns:char10"/>
														<xsd:element name="SALES_ORDER_ITEM" type="tns:char6"/>
														<xsd:element name="SALES_ORDER_SCHEDULE_LINE" type="tns:char4"/>
														<xsd:element name="SERVICE_DOCUMENT" type="tns:char10"/>
														<xsd:element name="SERVICE_DOCUMENT_ITEM" type="tns:char6"/>
														<xsd:element name="SERVICE_DOCUMENT_TYPE" type="tns:char4"/>
														<xsd:element name="WBSELEMENT_INTERNAL_ID" type="tns:char8"/>
														<xsd:element name="WBSELEMENT_EXTERNAL_ID" type="tns:char24"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_AMOUNT">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="CURRENCY_CODE" type="tns:char3"/>
														<xsd:element name="CONTENT" type="tns:decimal28.6"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_QUANTITY">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="UNIT_CODE" type="tns:char3"/>
														<xsd:element name="CONTENT" type="tns:decimal31.14"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_MASTER_FIXEDASSETID">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="SCHEME_ID" type="tns:char60"/>
														<xsd:element name="SCHEME_AGENCY_ID" type="tns:char60"/>
														<xsd:element name="CONTENT" type="tns:char12"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_FIXED_ASSET_ID">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="SCHEME_ID" type="tns:char60"/>
														<xsd:element name="SCHEME_AGENCY_ID" type="tns:char60"/>
														<xsd:element name="CONTENT" type="tns:char4"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="MMPUR_CONFIRMED_QUANTITY_GFN">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="UNIT_CODE" type="tns:char3"/>
														<xsd:element name="CONTENT" type="tns:decimal16.3"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="MMPUR_SRVC_ENTR_SHT_ITEM_TXT_1">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="TEXT" type="tns:MMPUR_SRVC_ENTR_SHT_ITEM_T_TAB"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="MMPUR_SRVC_ENTR_SHT_ITEM_TXT_C">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="ACTION_CODE" type="tns:char2"/>
														<xsd:element name="NOTE_TYPE_CODE" type="tns:char20"/>
														<xsd:element name="CONTENT_TEXT" type="tns:SAPPLCO_TEXT"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_BUS_TRANS_DOCUMENT_ID">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="SCHEME_ID" type="tns:char60"/>
														<xsd:element name="SCHEME_AGENCY_ID" type="tns:char60"/>
														<xsd:element name="SCHEME_AGENCY_SCHEME_AGENCY_ID" type="tns:char3"/>
														<xsd:element name="CONTENT" type="tns:char35"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_BUS_DOC_MESSAGE_HEADER">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="ID" type="tns:SAPPLCO_BUSINESS_DOCUMENT_MES1"/>
														<xsd:element name="UUID" type="tns:SAPPLCO_UUID"/>
														<xsd:element name="REFERENCE_ID" type="tns:SAPPLCO_BUSINESS_DOCUMENT_MES1"/>
														<xsd:element name="REFERENCE_UUID" type="tns:SAPPLCO_UUID"/>
														<xsd:element name="CREATION_DATE_TIME" type="tns:string"/>
														<xsd:element name="TEST_DATA_INDICATOR" type="tns:char5"/>
														<xsd:element name="RECONCILIATION_INDICATOR" type="tns:char5"/>
														<xsd:element name="SENDER_BUSINESS_SYSTEM_ID" type="tns:char60"/>
														<xsd:element name="RECIPIENT_BUSINESS_SYSTEM_ID" type="tns:char60"/>
														<xsd:element name="SENDER_PARTY" type="tns:SAPPLCO_BUS_DOC_MHEAD_PARTY"/>
														<xsd:element name="RECIPIENT_PARTY" type="tns:SAPPLCO_BUS_DOC_MHEAD_PARTY_T"/>
														<xsd:element name="BUSINESS_SCOPE" type="tns:SAPPLCO_BUSINESS_SCOPE_TAB"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_UUID">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="SCHEME_ID" type="tns:char60"/>
														<xsd:element name="SCHEME_AGENCY_ID" type="tns:char60"/>
														<xsd:element name="CONTENT" type="tns:char36"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_BUS_DOC_MHEAD_PARTY">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="INTERNAL_ID" type="tns:SAPPLCO_PARTY_INTERNAL_ID"/>
														<xsd:element name="STANDARD_ID" type="tns:SAPPLCO_PARTY_STANDARD_ID_TAB"/>
														<xsd:element name="CONTACT_PERSON" type="tns:SAPPLCO_BUS_DOC_MHEAD_PC_PERS"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_PARTY_STANDARD_ID">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="SCHEME_AGENCY_ID" type="tns:char3"/>
														<xsd:element name="CONTENT" type="tns:char13"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_PARTY_INTERNAL_ID">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="SCHEME_ID" type="tns:char60"/>
														<xsd:element name="SCHEME_AGENCY_ID" type="tns:char60"/>
														<xsd:element name="CONTENT" type="tns:char32"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_BUS_DOC_MHEAD_PC_PERS">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="INTERNAL_ID" type="tns:SAPPLCO_CONTACT_PERSON_INTERN1"/>
														<xsd:element name="ORGANISATION_FORMATTED_NAME" type="tns:SAPPLCO_LANGUAGEINDEPENDEN_TAB"/>
														<xsd:element name="PERSON_FORMATTED_NAME" type="tns:SAPPLCO_LANGUAGEINDEPENDENT_LN"/>
														<xsd:element name="PHONE_NUMBER" type="tns:SAPPLCO_PHONE_NUMBER_TAB"/>
														<xsd:element name="FAX_NUMBER" type="tns:SAPPLCO_PHONE_NUMBER_TAB"/>
														<xsd:element name="EMAIL_URI" type="tns:SAPPLCO_EMAIL_URI_TAB"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_CONTACT_PERSON_INTERN1">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="SCHEME_ID" type="tns:char60"/>
														<xsd:element name="SCHEME_AGENCY_ID" type="tns:char60"/>
														<xsd:element name="CONTENT" type="tns:char32"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_PHONE_NUMBER">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="AREA_ID" type="tns:char10"/>
														<xsd:element name="SUBSCRIBER_ID" type="tns:char30"/>
														<xsd:element name="EXTENSION_ID" type="tns:char10"/>
														<xsd:element name="COUNTRY_CODE" type="tns:char3"/>
														<xsd:element name="COUNTRY_DIALLING_CODE" type="tns:char10"/>
														<xsd:element name="COUNTRY_NAME" type="tns:SAPPLCO_MEDIUM_NAME"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_MEDIUM_NAME">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="LANGUAGE_CODE" type="tns:char9"/>
														<xsd:element name="CONTENT" type="tns:char40"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_EMAIL_URI">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="SCHEME_ID" type="tns:char60"/>
														<xsd:element name="CONTENT" type="tns:string"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_BUSINESS_DOCUMENT_MES1">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="SCHEME_ID" type="tns:char60"/>
														<xsd:element name="SCHEME_AGENCY_ID" type="tns:char60"/>
														<xsd:element name="SCHEME_AGENCY_SCHEME_AGENCY_ID" type="tns:char3"/>
														<xsd:element name="CONTENT" type="tns:char35"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_BUSINESS_SCOPE">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="TYPE_CODE" type="tns:SAPPLCO_BUS_SCOPE_TYPE_CODE"/>
														<xsd:element name="INSTANCE_ID" type="tns:SAPPLCO_BUS_SCOPE_INSTANCE_ID"/>
														<xsd:element name="ID" type="tns:SAPPLCO_BUSINESS_SCOPE_ID"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_BUS_SCOPE_INSTANCE_ID">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="SCHEME_ID" type="tns:char60"/>
														<xsd:element name="SCHEME_AGENCY_ID" type="tns:char60"/>
														<xsd:element name="CONTENT" type="tns:char36"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_BUS_SCOPE_TYPE_CODE">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="LIST_ID" type="tns:char60"/>
														<xsd:element name="LIST_VERSION_ID" type="tns:char15"/>
														<xsd:element name="LIST_AGENCY_ID" type="tns:char60"/>
														<xsd:element name="LIST_AGENCY_SCHEME_ID" type="tns:char60"/>
														<xsd:element name="LIST_AGENCY_SCHEME_AGENCY_ID" type="tns:char3"/>
														<xsd:element name="CONTENT" type="tns:char4"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_BUSINESS_SCOPE_ID">
													<xsd:sequence>
														<xsd:element name="CONTROLLER" type="tns:PRXCTRLTAB"/>
														<xsd:element name="SCHEME_ID" type="tns:char60"/>
														<xsd:element name="SCHEME_AGENCY_ID" type="tns:char60"/>
														<xsd:element name="CONTENT" type="tns:char36"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="BAPIRET2">
													<xsd:sequence>
														<xsd:element name="TYPE" type="tns:char1"/>
														<xsd:element name="ID" type="tns:char20"/>
														<xsd:element name="NUMBER" type="tns:numeric3"/>
														<xsd:element name="MESSAGE" type="tns:char220"/>
														<xsd:element name="LOG_NO" type="tns:char20"/>
														<xsd:element name="LOG_MSG_NO" type="tns:numeric6"/>
														<xsd:element name="MESSAGE_V1" type="tns:char50"/>
														<xsd:element name="MESSAGE_V2" type="tns:char50"/>
														<xsd:element name="MESSAGE_V3" type="tns:char50"/>
														<xsd:element name="MESSAGE_V4" type="tns:char50"/>
														<xsd:element name="PARAMETER" type="tns:char32"/>
														<xsd:element name="ROW" type="xsd:int"/>
														<xsd:element name="FIELD" type="tns:char30"/>
														<xsd:element name="SYSTEM" type="tns:char10"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="PRXCTRLTAB">
													<xsd:sequence>
														<xsd:element name="item" type="tns:PRXCTRL" minOccurs="0" maxOccurs="unbounded"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="MMPUR_ATTACHMENT1_TAB">
													<xsd:sequence>
														<xsd:element name="item" type="tns:MMPUR_ATTACHMENT1" minOccurs="0" maxOccurs="unbounded"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="MMPUR_SRVC_ENTR_SHT_TXT_CO_TAB">
													<xsd:sequence>
														<xsd:element name="item" type="tns:MMPUR_SRVC_ENTR_SHT_TXT_COLL_T" minOccurs="0" maxOccurs="unbounded"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="MMPUR_SES_ITEMENTITY">
													<xsd:sequence>
														<xsd:element name="item" type="tns:MMPUR_SRVC_ENTR_SHT_ITEM_ENTIT" minOccurs="0" maxOccurs="unbounded"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="MMPUR_SES_ACCT_ASSGMT_ENTITY">
													<xsd:sequence>
														<xsd:element name="item" type="tns:MMPUR_SES_ACCTASSGMT_ENTITY" minOccurs="0" maxOccurs="unbounded"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="MMPUR_SRVC_ENTR_SHT_ITEM_T_TAB">
													<xsd:sequence>
														<xsd:element name="item" type="tns:MMPUR_SRVC_ENTR_SHT_ITEM_TXT_C" minOccurs="0" maxOccurs="unbounded"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_BUS_DOC_MHEAD_PARTY_T">
													<xsd:sequence>
														<xsd:element name="item" type="tns:SAPPLCO_BUS_DOC_MHEAD_PARTY" minOccurs="0" maxOccurs="unbounded"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_PARTY_STANDARD_ID_TAB">
													<xsd:sequence>
														<xsd:element name="item" type="tns:SAPPLCO_PARTY_STANDARD_ID" minOccurs="0" maxOccurs="unbounded"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_LANGUAGEINDEPENDEN_TAB">
													<xsd:sequence>
														<xsd:element name="item" type="tns:char40" minOccurs="0" maxOccurs="unbounded"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_LANGUAGEINDEPENDENT_LN">
													<xsd:sequence>
														<xsd:element name="item" type="tns:char80" minOccurs="0" maxOccurs="unbounded"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_PHONE_NUMBER_TAB">
													<xsd:sequence>
														<xsd:element name="item" type="tns:SAPPLCO_PHONE_NUMBER" minOccurs="0" maxOccurs="unbounded"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_EMAIL_URI_TAB">
													<xsd:sequence>
														<xsd:element name="item" type="tns:SAPPLCO_EMAIL_URI" minOccurs="0" maxOccurs="unbounded"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="SAPPLCO_BUSINESS_SCOPE_TAB">
													<xsd:sequence>
														<xsd:element name="item" type="tns:SAPPLCO_BUSINESS_SCOPE" minOccurs="0" maxOccurs="unbounded"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:complexType name="BAPIRETTAB">
													<xsd:sequence>
														<xsd:element name="item" type="tns:BAPIRET2" minOccurs="0" maxOccurs="unbounded"/>
													</xsd:sequence>
												</xsd:complexType>
												<xsd:element name="ZMMPUR_SES_SOAP_SRVC_S4_SYNC">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="IO_INPUT" type="tns:MMPUR_SES_REQUEST_MSG" minOccurs="0"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="ZMMPUR_SES_SOAP_SRVC_S4_SYNCResponse">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="ET_BAPIRETTAB" type="tns:BAPIRETTAB"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:schema>
										</wsdl:types>
										<wsdl:message name="ZMMPUR_SES_SOAP_SRVC_S4_SYNC">
											<wsdl:part name="parameters" element="tns:ZMMPUR_SES_SOAP_SRVC_S4_SYNC"/>
										</wsdl:message>
										<wsdl:message name="ZMMPUR_SES_SOAP_SRVC_S4_SYNCResponse">
											<wsdl:part name="parameter" element="tns:ZMMPUR_SES_SOAP_SRVC_S4_SYNCResponse"/>
										</wsdl:message>
										<wsdl:portType name="ZSERVICEENTRYSHEETREQUEST_IN">
											<wsdl:documentation>
												<sapdoc:sapdoc
													xmlns:sapdoc="urn:sap:esi:documentation">
													<sapdoc:docitem docURL="http://tdclv1000192.tdc.net.sap:50080/sap/bc/esdt/docu/sd_text?sap-client=100&amp;sd_name=ZSERVICEENTRYSHEETREQUEST_IN"/>
												</sapdoc:sapdoc>
											</wsdl:documentation>
											<wsp:Policy>
												<wsp:PolicyReference URI="#IF__ZSERVICEENTRYSHEETREQUEST_IN"/>
											</wsp:Policy>
											<wsdl:operation name="ZMMPUR_SES_SOAP_SRVC_S4_SYNC">
												<wsp:Policy>
													<wsp:PolicyReference URI="#OP__ZMMPUR_SES_SOAP_SRVC_S4_SYNC"/>
												</wsp:Policy>
												<wsdl:input message="tns:ZMMPUR_SES_SOAP_SRVC_S4_SYNC"/>
												<wsdl:output message="tns:ZMMPUR_SES_SOAP_SRVC_S4_SYNCResponse"/>
											</wsdl:operation>
										</wsdl:portType>
										<wsdl:binding name="ZSERVICEENTRYSHEETREQUEST_IN" type="tns:ZSERVICEENTRYSHEETREQUEST_IN">
											<wsp:Policy>
												<wsp:PolicyReference URI="#BN__ZSERVICEENTRYSHEETREQUEST_IN"/>
											</wsp:Policy>
											<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
											<wsdl:operation name="ZMMPUR_SES_SOAP_SRVC_S4_SYNC">
												<soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZSERVICEENTRYSHEETREQUEST_IN:ZMMPUR_SES_SOAP_SRVC_S4_SYNCRequest" style="document"/>
												<wsdl:input>
													<soap:body use="literal"/>
												</wsdl:input>
												<wsdl:output>
													<soap:body use="literal"/>
												</wsdl:output>
											</wsdl:operation>
										</wsdl:binding>
										<wsdl:binding name="ZSERVICEENTRYSHEETREQUEST_IN_soap12" type="tns:ZSERVICEENTRYSHEETREQUEST_IN">
											<wsp:Policy>
												<wsp:PolicyReference URI="#BN__ZSERVICEENTRYSHEETREQUEST_IN_soap12"/>
											</wsp:Policy>
											<wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
											<wsdl:operation name="ZMMPUR_SES_SOAP_SRVC_S4_SYNC">
												<wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZSERVICEENTRYSHEETREQUEST_IN:ZMMPUR_SES_SOAP_SRVC_S4_SYNCRequest" style="document"/>
												<wsdl:input>
													<wsoap12:body use="literal"/>
												</wsdl:input>
												<wsdl:output>
													<wsoap12:body use="literal"/>
												</wsdl:output>
											</wsdl:operation>
										</wsdl:binding>
										<wsdl:service name="ZSERVICEENTRYSHEETREQUEST_IN">
											<wsdl:port name="ZSERVICEENTRYSHEETREQUEST_IN" binding="tns:ZSERVICEENTRYSHEETREQUEST_IN">
												<soap:address location="http://tdclv1000192.tdc.net.sap:50080/sap/bc/srt/rfc/sap/zserviceentrysheetrequest_in/100/zserviceentrysheetrequest_in/zserviceentrysheetrequest_in"/>
											</wsdl:port>
											<wsdl:port name="ZSERVICEENTRYSHEETREQUEST_IN_soap12" binding="tns:ZSERVICEENTRYSHEETREQUEST_IN_soap12">
												<wsoap12:address location="http://tdclv1000192.tdc.net.sap:50080/sap/bc/srt/rfc/sap/zserviceentrysheetrequest_in/100/zserviceentrysheetrequest_in/zserviceentrysheetrequest_in"/>
											</wsdl:port>
										</wsdl:service>
									</wsdl:definitions>